.card {
    font-family: OpenSans;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 14px;
    text-align: center;
    border-radius: .28571429rem;

    
}

/* .section-padding{
    padding: 30px;
} */

.head{
    font-size: 35px;
    font-weight: 300;
    line-height: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.card-text {
    text-align: center;
    clear: both;
    margin-top: 0.0em;
    color: rgba(0, 0, 0, .68);
}
.lists{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 23px;
    font-size: 20px;
}