.card {
    font-family: OpenSans;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 14px;
    text-align: center;
    /* margin-right: 14px; */
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.head{
    font-size: 40px;
    font-weight: 300;
    line-height: 0px;
    margin-top: 15px;
}

/* .card-title {
    
    font-size: 1.28571429em;
    font-weight: 300;
    line-height: 0px;
} */
.card-text {
    text-align: center;
    clear: both;
    margin-top: 0.0em;
    color: rgba(0, 0, 0, .68);
}