<div class="section-padding">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="card" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" *ngFor="let item of data.overview">
      <div style="width: 320px;margin: auto;">
        <img src={{item.iconsrc}} alt={{item.iconalt}}>
        <h5 class="head">{{item.header}}</h5>
          <ul class="lists" *ngFor="let tags of item.list" >
            <li>{{tags}}</li>
          </ul>
      </div>
    </div>
    <div class="card" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" *ngFor="let item of data.overview">
      <img src={{item.imagesrc}} alt={{item.imagealt}} style="width: 100%;">
    </div>
  </div>
</div>