.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 14px;
    text-align: center;
    /* margin-right: 14px; */
    border-radius: .28571429rem;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
}

.card-title {
    text-align: center;
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.card-text {
    text-align: center;
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}