<!-- <div class="grid">
  <figure class="effect-sadie">
    <img src="../assets/image.png" alt="img02"/>
    <figcaption>
      <h2>Holy <span>Sadie</span></h2>
      <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
      <a href="#">View more</a>
    </figcaption>			
  </figure>
  <figure class="effect-sadie">
    <img src="../assets/image.png" alt="img14"/>
    <figcaption>
      <h2>Holy <span>Sadie</span></h2>
      <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
      <a href="#">View more</a>
    </figcaption>			
  </figure>
</div> -->


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div class="card" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" >
      <div style="width: 320px;margin: auto;">
        <a href="https://www.axis41.com/what-we-do/strategy/" class="service-tile">
          <h3 class="service-title">
                            <span>01</span>
                        Strategy          </h3>
          
            <ul>
                          <li>
                                  Market Analysis              </li>
                            <li>
                                  Brand Positioning               </li>
                            <li>
                                    Communication Planning              </li>
                            <li>
                                        User Experience              </li>
                                                                            </ul>
        </a>
          
      </div>
  </div>
</div>